
@model StoreBuild.Domain.Dtos.CategoryDto

@{
    ViewData["Title"] = "Category";
}

<div class="row header">
    <div class="col-md-12">
        <h3>Categoria</h3>
        <a href="/Category" class="btn btn-primary">Voltar</a>
    </div>
</div>
<form class="row form-horizontal" asp-action="CreateOrEdit" asp-controller="Category" asp-anti-forgery asp-action="POST">
    <div class="form-group">
        <label class="col-md-2 control-label">Nome</label>
        <div class="col-md-8">
            <input type="text" asp-for="Name">    
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
            <button class="btn btn-success">Salvar</button>
        </div>
    </div>
</form>
</div>

<!-- https://github.com/godinis22/Curso  -->